.content {
  width: 95%;
  max-width: 60rem;
  margin: var(--size-8) auto;
  font-size: var(--size-5);
  line-height: var(--size-8);
  background-color: var(--color-grey-100);
  border-radius: 6px;
  padding: var(--size-4);
}

.content p {
  color: var(--color-grey-800);
}

.content .image {
  position: relative !important;
  margin: var(--size-4) auto;
  display: flex;
  justify-content: center;
}

.fixedImage {
  width: 600px;
  height: 300px;
  max-width: none;
}

@media (min-width: 768px) {
  .content {
    padding: var(--size-8);
  }

  .content .image {
    max-width: 90%; /* Slightly constrain on larger screens */
  }
}
